name: Deploy to EC2 using SSM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Configure AWS credentials (from GitHub secrets)
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # 3️⃣ Deploy via SSM (NO SSH, NO PEM)
      - name: Deploy via SSM
        run: |
          aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --targets "Key=instanceIds,Values=i-06e8be6b416755551" \
            --comment "Deploy DevOps website from GitHub Actions" \
            --parameters commands="cd /home/ssm-user/end-to-end-devops-pipeline && docker build -t devops-website . && docker stop devops || true && docker rm devops || true && docker run -d -p 80:80 --name devops devops-website" \
            --region ${{ secrets.AWS_REGION }}
